
  <div class="chats d-flex flex-column">
    <div class="container chatroom"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @activity.id %>"
      data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
    >
      <h1 class="topic my-2 px-3"><strong><%= @activity.name %></strong></h1>
      <h3 class="my-2 d-flex justify-content-center"><%= @activity.short_address %></h3>
      <div class="row px-2 pb-2">
        <div class="messages" id="messages-container" style="height: 390px; overflow-y: auto; border-top: 1px solid #ccc; padding: 10px;" data-chatroom-subscription-target="messages">
          <% @messages.each do |message| %>

            <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
              <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                <%= render "messages/message", message: message %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-container" id="message-form">
      <%= simple_form_for [@activity, @message], remote: true,
          html: { data: { controller: "chatroom-subscription", action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
        %>
          <%= f.input :content,
            label: false,
            placeholder: "#{@activity.name}",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <button type="submit" id="completed-task" class="btn-primary ml-0" style="height: 37px; border-radius: 0px 10px 10px 0px;">
            <i class="fa-solid fa-paper-plane fa-xl"></i>
          </button>
        <% end %>
    </div>
  </div>
