<div class="footer footer-expand-sm footer-light footer-verse">
  <div class="container">


    <div class="footer-collapse" id="footerSupportedContent">
        <div class="footer-nav pt-2">
          <% if user_signed_in? %>

            <a class="foot-item">
              <a class="foot-link" aria-current="page"  href="/"><%= image_tag("home-64.png",  :alt => "logos", :class => "logos-home") %></a>
            </a>
            <a class="foot-item">
              <a class="foot-link" aria-current="page"  href="/dashboard"><%= image_tag("dashboard-48.png",  :alt => "logos", :class => "logos-dashboard") %></a>
            </a>
            <a class="foot-item" id="add-button">
              <a class="foot-link" aria-current="page"  href="/activities/new"> <%= image_tag("add-64.png",  :alt => "logos", :class => "logos-add-activity") %></a>
            </a>
            <a class="foot-item">
              <a class="foot-link" aria-current="page" href="/chatrooms"><%= image_tag("messages-60.png",  :alt => "logos", :class => "logos-messages") %></a>
            </a>
            <a class="foot-item">
              <a class="foot-link" aria-current="page" href="/profile">  <%= image_tag("user-52.png",  :alt => "logos", :class => "logos-profile") %></a>
            </a>

          <% else %>
            <p></p>
          <% end %>
        </div>

      </div>

  </div>


</div>


    <!--button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <%= image_tag "hamburger-icon.png", alt: "dropdown menu" %>
    </button-->
