<div class="footer footer-expand-sm footer-light footer-verse">
  <div class="footer-nav">
    <% if user_signed_in? %>
      <a class="foot-link" aria-current="page"  href="/"><%= image_tag("icons/home.png",  :alt => "home icon", :class => "logos-home") %></a>
      <a class="foot-link" aria-current="page"  href="/dashboard"><%= image_tag("icons/dashboard.png",  :alt => "dashboard icon", :class => "logos-dashboard") %></a>
      <div class="foot-link-add">
        <a class="foot-link new-activity" aria-current="page"  href="/activities/new"> <%= image_tag("icons/add.png",  :alt => "plus icon", :class => "logos-add-activity") %></a>
      </div>
      <a class="foot-link" aria-current="page" href="/chatroom"><%= image_tag("icons/chat.png",  :alt => "chat icon", :class => "logos-messages") %></a>
      <a class="foot-link" aria-current="page" href="/profile">  <%= image_tag("icons/account_circle.png",  :alt => "profile icon", :class => "logos-profile") %></a>
    <% end %>
  </div>
</div>
