<div class="footer footer-expand-sm footer-light footer-verse">
  <div class="container-fluid">


    <div class="footer-collapse" id="footerSupportedContent">
        <div class="footer-nav me-auto pt-3">
          <a class="foot-item">
            <a class="foot-link" aria-current="page"  href="/"><%= image_tag("home-64.png",  :alt => "logos", :class => "logos-home") %></a>
          </a>
          <a class="foot-item">
            <a class="foot-link" aria-current="page"  href="/"><%= image_tag("notification-64.png",  :alt => "logos", :class => "logos-notification") %></a>
          </a>
          <a class="foot-item">
            <a class="foot-link" aria-current="page"  href="/activity/new"> <%= image_tag("add-64.png",  :alt => "logos", :class => "logos-add-activity") %></a>
          </a>
          <a class="foot-item">
            <a class="foot-link" aria-current="page" href="/chat"><%= image_tag("messages-60.png",  :alt => "logos", :class => "logos-messages") %></a>
          </a>
          <a class="foot-item">
            <a class="foot-link" href="/menu"><%= image_tag("hamburger-icon.png",  :alt => "logos", :class => "logos-menu") %></a>
          </a>
        </div>

      </div>

  </div>


</div>
