<div class="ttt">
  <h1>Your Messages</h1>
</div>

<hr class="featurette-divider">


        <div>
          <% @activities.each do |activity| %>
            <div class="requests border border-white py-2 m-2 rounded-4 d-flex align-items-center bg-white shadow-sm">
              <div class="d-flex justify-content-center ms-3" style="width: 20%;">
                <i class="fa-solid fa-comments" style='font-size:40px;color:#FCA326'></i>
              </div>
              <div class="ps-3">
                <div class="d-flex flex-column">
                  <div style=" width: 250px;font-size: 20px"><strong><%= activity.name %></strong></div>
                    <% if activity.messages.any? %>
                      <div>
                        <% if activity.messages.last.content.length > 20 %>
                          <div > <%= activity.messages.last.user.first_name.capitalize %>: <%= activity.messages.last.content[0,20] %>...</div>
                        <% else %>
                          <div > <%= activity.messages.last.user.first_name.capitalize %>: <%= activity.messages.last.content[0,20] %></div>
                        <% end %>
                      </div>
                    <% end %>
                  <div class="pt-2 mb-1">
                    <a href="/activities/<%= activity.id %>/messages">
                      <button class="button"> <strong>Chat</strong></button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <%end %>
        </div>


        <div class="mb-5">
          <% @chat.each do |activity| %>
            <div class="requests border border-white py-2 m-2 rounded-4 d-flex align-items-center bg-white shadow-sm">
              <div class="d-flex justify-content-center ms-3" style="width: 20%;">
                <i class="fa-solid fa-comments" style='font-size:40px;color:#FCA326'></i>
              </div>
              <div class="ps-3">
                <div class="d-flex flex-column">
                  <div class="ps-2" style=" width: 250px;font-size: 20px"><strong><%= activity.name %></strong></div>
                    <% if activity.messages.any? %>
                      <div>
                        <% if  activity.messages.last.content.length > 20 %>
                          <div > <%= activity.messages.last.user.first_name.capitalize %>: <%= activity.messages.last.content[0,20] %>...</div>
                        <% else %>
                          <div > <%= activity.messages.last.user.first_name.capitalize %>: <%= activity.messages.last.content[0,20] %></div>
                        <% end %>
                      </div>
                    <% end %>
                  <div class="pt-2 mb-1">
                    <a href="/activities/<%= activity.id %>/messages">
                      <button class="button"> <strong>Chat</strong></button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <%end %>
        </div>
