<body class="mb-5">
<div class="container d-flex flex-column pt-2">
  <ul class="d-flex justify-content-center nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="request-tab" data-bs-toggle="tab" data-bs-target="#request" type="button" role="tab" aria-controls="request" aria-selected="true">Request</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity" type="button" role="tab" aria-controls="activity" aria-selected="false">Activity</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="request" role="tabpanel" aria-labelledby="request-tab">
      <% if @requests.empty? == false %>
        <div class="d-flex flex-column">
          <% @requests.each do |request| %>
            <div class="requests d-flex border border-white my-1 py-2 px-3 rounded-4 d-flex align-items-center justify-content-between bg-white shadow-sm">
              <div class="d-flex flex-column">
                <div class="top-part d-flex">
                  <div>
                    <a href="/users/<%= request.user.id %>" style="text-decoration: none;">
                      <div class="pic-request-container"><%= cl_image_tag request.user.avatar.key, alt: "Profile icon", class:"pic-request" %></div>
                    </a>
                  </div>
                  <div class="ps-4">
                    <div style="font-size: 19px"><strong> <%= request.user.first_name %> sent a request</strong></div>
                    <a href="/users/<%= request.user.id %>" style="text-decoration: none;">
                      <div style="color: #AEAEAE"><u> <%= request.activity.name %></u></div>
                    </a>
                  </div>
                </div>
                <div class="bottom-part d-flex align-items-center justify-content-between" style="width: 350px; font-size: 16px">
                  <div class="location-part ps-3">
                    <div class="d-flex">
                      <i class='fas fa-map-marker-alt pt-1' style='font-size:18px;color:#FCA326'></i>
                      <div class="ps-1"><%= request.activity.short_address %></div>
                    </div>
                    <div class="d-flex" >
                      <i class='far fa-clock pt-1' style='font-size:18px;color:#FCA326'></i>
                      <div class="ps-1"><%= request.activity.date_time.strftime("%H:%M, %a %eth") %></div>
                    </div>
                  </div>
                  <div class="button-apply pt-3">
                    <div class="d-flex flex-row">
                      <%= link_to '<i class="far fa-check-circle" style="font-size:35px;color:green"></i>'.html_safe,
                      activity_member_url(request.activity, request),
                      data: { "turbo-method": :patch },
                      class: "icon-response" %>

                      <%= link_to '<i class="fa fa-circle-xmark" style="font-size:40px;color:red"></i>'.html_safe,
                      activity_member_url(request.activity, request),
                      data: { "turbo-method": :delete },
                      class: "icon-response" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end %>
        </div>
      <%end %>
    </div>

    <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
      <% if @upcomings.empty? == false %>
        <div class="container d-flex flex-column">
          <%  @upcomings.each do |upcoming| %>
            <div class="requests border border-white py-2 m-1 rounded-4 d-flex align-items-center bg-white shadow-sm">
              <div class="pic-request-container ms-3"><%= cl_image_tag upcoming.activity.user.avatar.key, alt: "Profile icon", class:"pic-request" %></div>
              <div class="ps-3">
                <div class="d-flex flex-column">
                  <div class="ps-2" style="font-size: 20px"><strong> <%= upcoming.activity.name  %></strong></div>
                  <div class="d-flex">
                    <div class="d-flex justify-content-center" style="width: 25px;">
                      <i class='fas fa-map-marker-alt pt-1' style='font-size:18px;color:#FCA326'></i>
                    </div>
                      <div><%= upcoming.activity.short_address %></div>
                  </div>
                  <div class="d-flex">
                    <div class="d-flex justify-content-center" style="width: 25px;">
                      <i class='far fa-clock pt-1' style='font-size:18px;color:#FCA326'></i>
                    </div>
                    <div><%= upcoming.activity.date_time.strftime("%H:%M, %a %eth")%></div>
                  </div>
                  <div class="pt-2">
                    <a href="/activities/<%= upcoming.activity.id %>">
                      <button class="button"> <strong>Details</strong></button>
                    </a>
                    <button class="button"> <strong>Chat</strong></button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
      <% if @activities.empty? == false %>
        <div class="container d-flex flex-column">
          <%  @activities.each do |activity| %>
            <div class="requests border border-white py-1 m-1 rounded-4 d-flex align-items-center bg-white shadow-sm">
              <div class="pic-request-container ms-3"><%= cl_image_tag @user.avatar.key, alt: "Profile icon", class:"pic-request" %></div>
              <div class="d-flex flex-column ps-3">
                <div class="ps-2" style="font-size: 20px"><strong> <%= activity.name  %></strong></div>
                <div class="d-flex">
                  <div class="d-flex justify-content-center" style="width: 25px;">
                    <i class='fas fa-map-marker-alt pt-1' style='font-size:18px;color:#FCA326'></i>
                  </div>
                  <div class="ps-1"><%= activity.short_address%></div>
                </div>
                <div class="d-flex">
                  <div class="d-flex justify-content-center" style="width: 25px;">
                    <i class='far fa-clock pt-1' style='font-size:18px;color:#FCA326'></i>
                  </div>
                  <div class="ps-1"><%= activity.date_time.strftime("%H:%M, %a %eth") %></div>
                </div>
                <div class="pt-2">
                  <a href="/activities/<%= activity.id %>">
                    <button class="button"> <strong>Details</strong></button>
                  </a>
                  <button class="button"> <strong>Chat</strong></button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <%end %>
    </div>
  </div>
</div>

</body>
