<body style="background-color:#E5E5E5;">

<div class="container pt-2 ps-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="request-tab" data-bs-toggle="tab" data-bs-target="#request" type="button" role="tab" aria-controls="request" aria-selected="true">Request</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity" type="button" role="tab" aria-controls="activity" aria-selected="false">Activity</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="request" role="tabpanel" aria-labelledby="request-tab">
      <% if @requests.empty? == false %>
        <div class="d-flex flex-column">
          <% @requests.each do |request| %>
            <div class="requests d-flex border border-white p-2 mt-2 mb-2 rounded d-flex align-items-center justify-content-between bg-white">
              <div class="d-flex flex-column">
                <div class="top-part d-flex">
                  <div class="circle"></div>
                  <div class="ps-3">
                    <div><strong> <%= request.activity.name %></strong></div>
                    <div style="color: #AEAEAE"><u>View Profile</u></div>
                  </div>
                </div>
                <div class="bottom-part pt-2 d-flex">
                  <div class="location-part ps-3">
                    <div class="d-flex">
                      <i class='fas fa-map-marker-alt pt-1' style='font-size:18px;color:#FCA326'></i>
                      <div class="ps-1"><%= request.activity.location[0,10] + "..."  %></div>
                    </div>
                    <div class="d-flex">
                      <i class='far fa-clock pt-1' style='font-size:18px;color:#FCA326'></i>
                      <div class="ps-1"><%= request.activity.date_time %></div>
                    </div>
                  </div>
                  <div class="button-apply pt-3">
                    <div class="d-flex flex-row">
                      <%= link_to '<i class="fa fa-check-circle ps-3" style="font-size:30px;color:green"></i>'.html_safe,
                      activity_member_url(request.activity, request),
                      data: { "turbo-method": :patch },
                      class: "icon-response" %>

                      <%= link_to '<i class="fa fa-close ps-3" style="font-size:30px;color:red"></i>'.html_safe,
                      activity_member_url(request.activity, request),
                      data: { "turbo-method": :delete },
                      class: "icon-response" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end %>
        </div>
      <%end %>
    </div>

    <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
      <% if @upcomings.empty? == false %>
        <div class="container d-flex flex-column">
          <%  @upcomings.each do |upcoming| %>
            <div class="requests border border-white p-2 mt-2 mb-2 rounded d-flex bg-white">
              <div class="circle pe-8" style="width:80px; height:80px;"></div>
              <div class="d-flex flex-column ps-3">
                <div><strong> <%= upcoming.activity.name  %></strong></div>
                <div><%= upcoming.activity.location[0, 22] + "..."  %> - <%= upcoming.activity.date_time  %></div>
                <div class="pt-2">
                  <a href="/activities/<%= upcoming.activity.id %>">
                    <button class="button"> <strong>Details</strong></button>
                  </a>
                  <button class="button"> <strong>Chat</strong></button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
      <% if @activities.empty? == false %>
        <div class="container d-flex flex-column">
          <%  @activities.each do |activity| %>
            <div class="requests border border-white p-2 mt-2 mb-2rounded d-flex bg-white">
              <div class="circle pe-8" style="width:80px; height:80px;"></div>
              <div class="d-flex flex-column ps-3">
                <div><strong> <%= activity.name  %></strong></div>
                <div><%= activity.location[0, 22] + "..."  %> - <%= activity.date_time  %></div>
                <div class="pt-2">
                  <a href="/activities/<%= activity.id %>">
                    <button class="button"> <strong>Details</strong></button>
                  </a>
                  <button class="button"> <strong>Chat</strong></button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <%end %>
    </div>
  </div>
</div>

</body>
