<div class="container d-flex flex-column pt-2">
  <ul class="d-flex justify-content-center nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab" aria-controls="upcoming" aria-selected="true">Upcoming</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity" type="button" role="tab" aria-controls="activity" aria-selected="false">My Activities</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="request-tab" data-bs-toggle="tab" data-bs-target="#request" type="button" role="tab" aria-controls="request" aria-selected="false">Requests</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade-test" id="request" role="tabpanel" aria-labelledby="request-tab">
      <% if @requests.empty? == false %>
        <div class="d-flex flex-column">
          <% @requests.each do |request| %>

            <%= render partial: 'activities/request', locals: {request: request} %>

          <%end %>
        </div>
      <% else %>
        <%= render partial: 'pages/404' %>
        <div class="d-flex flex-column w-100 align-items-center px-5">
          <h5 class="text-center" style="color: 14213D;">No requests yet. Sit tight while we find some players, or create an event while you wait!</h5>
          <a href="/activities/new" class="btn btn-primary rounded-pill w-50 mt-2">Click here!</a>
        </div>
      <%end %>
    </div>

    <div class="tab-pane fade-test show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
      <% if @upcomings.empty? == false %>
        <div class="d-flex flex-column">
          <%  @upcomings.each do |upcoming| %>

            <%= render partial: 'activities/card', locals: {activity: upcoming.activity} %>


          <% end %>
        </div>
      <% else %>
        <%= render partial: 'pages/404' %>
        <div class="d-flex flex-column w-100 align-items-center px-5">
          <h5 class="text-center" style="color: 14213D;">You don't have any activities planned</h5>
          <a href="/activities" class="btn btn-primary rounded-pill w-50 mt-3">Find some!</a>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade-test" id="activity" role="tabpanel" aria-labelledby="activity-tab">
      <% if @activities.empty? == false %>
        <div class="d-flex flex-column">
          <% @activities.each do |activity| %>

            <%= render partial: 'activities/card', locals: {activity: activity} %>

          <% end %>
        </div>
      <% else %>
        <%= render partial: 'pages/404' %>
        <div class="d-flex flex-column w-100 align-items-center px-5">
          <h5 class="text-center" style="color: 14213D;">Looks like you haven't created any activities.</h5>
          <a href="/activities/new" class="btn btn-primary rounded-pill w-50 mt-3">Create one!</a>
        </div>
      <%end %>
    </div>
  </div>
</div>
