<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515523110800-9415d13b84a8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 540px;">
    <h1 class="mb-5">Find sports near <strong>you!</strong></h1>
    <div class="col-12">
      <div class="mt-3">
        <%= form_with url: activities_path, method: :get, class: "d-flex " do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control rounded-start-pill",
                placeholder: "Search for activities..."
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="login-signin mt-5">
        <% unless user_signed_in? %>
          <div class="signinbtn d-flex justify-content-center my-3">
            <a class="home-link"> <%= link_to "Login", href="/users/sign_in", class: "btn-go", id:"btn-log" %></a>
          </div>
          <div class="signupbtn d-flex justify-content-center mt-3">
            <a class="home-link"> <%= link_to "Sign up", href="/users/sign_up", class: "btn-go", id:"btn-sgn" %></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
