<div class="banner" >
  <iframe id="youtube-video" src="https://www.youtube.com/embed/L3374C3OyrY?autoplay=1&mute=1&loop=1&controls=0&showinfo=0&playlist=L3374C3OyrY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 540px;">
    <h1 class="mb-5">Find sports near <strong>you!</strong></h1>
    <div class="col-12">
      <div class="mt-3">
        <%= form_with url: activities_path, method: :get, class: "d-flex " do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control rounded-start-pill",
                placeholder: "Search for activities..."
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="login-signin mt-5">
        <% unless user_signed_in? %>
          <div class="signinbtn d-flex justify-content-center my-3">
            <a class="home-link"> <%= link_to "Login", href="/users/sign_in", class: "btn-go", id:"btn-log" %></a>
          </div>
          <div class="signupbtn d-flex justify-content-center mt-3">
            <a class="home-link"> <%= link_to "Sign up", href="/users/sign_up", class: "btn-go", id:"btn-sgn" %></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
