<div class="card-product d-flex align-items-center my-1 py-2 px-3 shadow-sm bg-white rounded-4">
  <%# Avatar %>
  <div class="pic-request-container">
    <a href="/users/<%= activity.user.id %>">
      <% if activity.user.avatar.key == nil %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Windows_10_Default_Profile_Picture.svg" alt="Profile icon" class="profile-pic"  height="50" width="50" />
      <% else %>
        <%= cl_image_tag activity.user.avatar.key, alt: "Profile icon", class:"pic-request" %>
      <% end %>
    </a>
  </div>
  <%# Main Content %>
  <div class="d-flex flex-column ps-1 w-100">
    <%# Title %>
    <a href="/activities/<%= activity.id %>">
      <div class="activity-title ps-2">
        <%= activity.name %>
      </div>
    </a>
    <%# Location and Date %>
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <a href="/activities/<%= activity.id %>">
          <div class="d-flex">
            <div class="d-flex justify-content-center" style="width: 25px;">
              <i class='fas fa-map-marker-alt pt-1' style='font-size:16px;color:#FCA326'></i>
            </div>
            <div class="pb-1 card-address">
              <%= activity.short_address %>
            </div>
          </div>
          <div class="d-flex">
            <div class="d-flex justify-content-center" style="width: 25px;">
              <i class='far fa-clock pt-1' style='font-size:16px;color:#FCA326'></i>
            </div>
            <div class="pb-1 card-time">
              <%= activity.date_time.strftime("%H:%M, %a %eth")%>
            </div>
          </div>
        </a>
      </div>
      <%# Chat Icon %>
      <div class="ps-2 pt-2">
          <a class="foot-link" aria-current="page" href="/activities/<%= activity.id %>/messages">
            <i class="far fa-comment-dots" style="font-size: 40px; color: #FCA311;"></i>
          </a>
      </div>
    </div>

  </div>
  </div>
</div>
