<div style="width: 100%; height: 470px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container-xl d-flex">

  <div class="row justify-content mx-auto w-100">
    <div class="col my-3">
      <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-xl d-flex">

  <div class="row px-2 pb-2">
    <% @activities.each_with_index do |activity, index| %>
      <a href="/activities/<%= activity.id %>" style="text-decoration: none;" class="card-product d-flex">
        <i class="fa-solid fa-table-tennis-paddle-ball fa-2xl"></i>
        <div class="card-product-infos d-flex flex-column">
          <span class="text-black fw-bold"><%= activity.name %></span>
          <div class="d-flex align-items-center">
            <p><%= activity.location %></p>
            <button class="btn btn-primary btn-sm rounded-5" style="height: 50px;">Open</button>
          </div>
        </div>
      </a>
    <%end %>
  </div>
</div>
