<div class="container py-4">
  <h2 class="mb-2"> Add your activity! </h2>
  <%= simple_form_for(@activity) do |f| %>
    <%= f.input :name , input_html: { style: 'margin-bottom: 30px;' } %>
    <%= f.input :description, input_html: { style: 'margin-bottom: 30px;' } %>
    <%= f.input :date_time, input_html: { style: 'margin-bottom: 30px;' } %>
    <%= f.input :location, input_html: { style: 'margin-bottom: 30px;' } %>
    <%= f.input :sport_id, collection: @sports, label: "I'm looking for a..", prompt: 'Choose one', input_html: { style: 'margin-bottom: 30px;' } %>
    <%= f.submit class: "btn btn-primary"%>
  <% end %>
</div>
