<div class="form-container mx-auto">
  <h2 class="form-header mb-4">Add your activity!</h2>
  <%= simple_form_for(@activity) do |f| %>
    <div class="form-group">
      <%= f.input :name, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :description, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <div class="d-flex flex-column">
        <label class="form-label">Date <i class="fa fa-calendar" style="font-size:18px;color:#FCA326"></i></label>
        <div class="d-flex">
          <%= f.input_field :date_time, as: :date, class: 'form-control m-1' %>
        </div>
        <label class="form-label">Time <i class='far fa-clock' style='font-size:18px;color:#FCA326'></i></label>
        <div class="d-flex">
          <%= f.input_field :date_time, as: :time, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :location, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :sport_id, collection: @sports, label: "I'm looking for a..", prompt: 'Choose one', input_html: { class: 'form-control' } %>
    </div>
    <div class="text-center">
      <%= f.submit 'Add Activity', class: "btn btn-custom" %>
    </div>
  <% end %>
</div>
