
<div>
  <div class="activities-row">

    <div class="main-info">
      <div style="width: 100%; height: 250px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="row">
        <h3 class="names mt-4 mx-4"><%= @activity.name %></h3>
        <p class="mt-2 mx-4"><i>Hosted by <%= cl_image_tag @activity.user.avatar.key, alt: "Profile icon", class:"avatar", height:"40", width:"40" %></i></p>
        <p class="infos mx-4"><%= @activity.description %></p>
      <div>
    </div>
    <div class="buttons-div">
      <% if @activity.user != current_user %>
        <% if @is_member.empty? == true %>
          <div class="button-request d-flex justify-content-center">
            <%= simple_form_for [@activity, @member] do |f| %>
              <%= f.submit "Request to join", class: "btn btn-go" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="button-back d-flex justify-content-center">
        <a href="/activities" class="btn-bck">Go Back</a>
      </div>
    </div>
  </div>
</div>
